/* Universal Styles */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(36, 36, 36);
  color: rgb(220, 220, 220);
}
a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  line-height: 1.25;
  font-style: bold;
}
span {
  text-align: center;
  display: inline-flex;
}
p {
  font-size: 1rem;
}
.section_title {
  margin: 36px 24px 24px 24px;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
}
.blue_text {
  color: rgb(106, 150, 253);
  display: inline-flex;
  text-shadow: 0px 4px 8px rgb(10, 10, 10);
  text-align: center;

  font-weight: bold;
}

/* Header & Navigation */

.header {
  padding: 12px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(21, 20, 20);
  border-bottom: 0.25rem solid black;
  border-radius: 0 0 25% 25%;
  box-shadow: 0 8px 16px rgb(10, 10, 10);
}
.header--wrapper {
  width: 100%;
  max-height: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: center;
}
.logo {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0px 4px 8px rgb(10, 10, 10);
}
.fa-code {
  display: flex;
  flex-flow: column wrap;
  margin: 24px;
  size: 1rem;
  color: rgb(95, 71, 252);
  text-shadow: 0px 4px 8px rgb(10, 10, 10);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(10, 10, 10);
}
.nav {
  padding: 12px 24px;
  display: inline;
  flex-wrap: wrap;
}
.nav_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.nav_list_link a,
.nav_list_link_contact,
.nav_list_link_contact a,
.nav_list_link_contact button {
  color: rgb(220, 220, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 350ms ease;
}
.nav_list_link {
  display: inline-block;
  align-content: center;
  padding: 12px auto;
  margin: 12px auto;
  text-decoration: none;
}
.nav_textanchor {
  margin: 0 auto;
  padding: 0 auto;
  display: inline-block;
  position: relative;
  display: inline-block;
  transition: all 350ms ease;
  width: fit-content;
  text-align: center;
  transition: all 250ms ease;
}
.nav_textanchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 1.75px;
  background-color: rgb(220, 220, 220);
  transition: width 350ms ease;
}
.nav_textanchor:hover::after {
  width: 100%;
}
.nav_list_link_contact button {
  background-color: rgb(95, 71, 252);
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: all 250ms ease;
}
.nav_list_link_contact button:hover {
  background-color: rgb(35, 17, 148);
  border: 2px solid rgb(220, 220, 220);
}
.nav_list_link:active {
  transform: translateY(1px);
}
.nav_list_link_contact button:active {
  transform: translateY(1px);
}

/* About */

.landing-page {
  padding: auto;
  margin: auto;
  height: auto;
}
.about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  padding: 48px;
}
.profile {
  width: 350px;
  height: 350px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin: 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(95, 71, 252);
  background-image: url("../Pictures/profile pic.jpg");
  background-size: cover;
  background-position: center;
  transition: all 350ms ease;
  padding: auto;
  box-shadow: 0px 8px 16px rgb(10, 10, 10);
}
.profile:hover {
  border-color: rgb(220, 220, 220);
  background-image: url("../Pictures/cat.png");
  cursor: no-drop;
}
.about_wrapper {
  width: 100%;
  max-width: 600px;
  height: 600px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 12px 0 auto;
  margin: 48px 0 auto;
}
.about_header {
  cursor: default;
  transition: all 500ms ease;
  display: inline-block;
  animation: circle 3s infinite ease;
  text-shadow: 0px 4px 8px rgb(10, 10, 10);
}
.about_text {
  text-align: center;
  margin: 24px 0;
  padding: 12px 0;
  font-size: 1.15rem;
  text-align: center;
}

/* Icon Row */

.icon_row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 12px;
  width: 100%;
  height: auto;
  font-size: 2.2rem;
}
.icon {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  color: rgb(220, 220, 220);
  margin: 12px;
}
.fa-file-pdf,
.fa-envelope,
.fa-github,
.fa-linkedin {
  display: inline-flex;
  padding: 6px auto;
  margin: 12px auto;
  transition: all 350ms ease;
  cursor: pointer;
}
.fa-file-pdf:hover,
.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover {
  animation: jump 1.5s infinite ease;
  color: rgb(106, 150, 253);
}

/* Applications Picture */

.undraw_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  width: 101vw;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.undraw_apps {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: auto;
  object-fit: contain;
}
.undraw_apps {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* Languages Section */

#languages {
  max-width: 1200px;
  margin: 0 auto;
}
.languages_container,
.languages_title,
.languages_list {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0 auto;
  align-items: center;
}
.languages_container {
  display: flex;
  justify-content: center;
  margin: 24px auto;
}
.languages_title {
  margin: 24px;
  text-align: center;
}
.languages_list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 100%;
}
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.languages_image_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row wrap;
  align-items: center;
  padding: 12px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.html_wrapper,
.css_wrapper {
  display: flex;
  justify-content: center;
  margin: 24px;
  padding: 0;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  position: relative;
  transition: all 350ms ease;
  object-fit: scale-down;
}
.html,
.css {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 350ms ease;
  box-shadow: 0px 8px 16px rgb(10, 10, 10);
}
.language_name {
  font-size: 1rem;
  position: absolute;
  bottom: -24px;
  width: fit-content;
  max-height: fit-content;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
  transition: all 350ms ease;
}
.html_wrapper:hover .language_name,
.css_wrapper:hover .language_name {
  opacity: 1;
  transform: scale(1);
}
.html_wrapper:hover .html,
.css_wrapper:hover .css {
  filter: brightness(80%);
  transform: scale(0.9);
  box-shadow: 0px 4px 32px rgb(10, 10, 10);
  cursor: no-drop;
}

/* Projects Section */

#projects {
  max-width: 1200px;
  margin: 0 auto;
}
.projects_container,
.projects_boxwrap,
.projects_list {
  margin: 0 auto;
  padding: 0 auto;
  list-style: none;
}
.projects_boxwrap {
  margin: 12px;
  padding: 12px;
}
.projects_list {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Projects Links */

.projects_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.project {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 24px;
  padding: 24px 12px 24px 12px;
  width: 100%;
  max-width: 768px;
  height: auto;
  margin: 24px auto;
  border-radius: 25px;
  box-shadow: 0px 8px 16px rgb(10, 10, 10);
  background-color: rgb(220, 220, 220);
  overflow: hidden;
  position: relative;
}
.projects_image {
  margin-bottom: 48px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: auto;
  transition: transform 350ms ease, filter 350ms ease;
  position: relative;
}
.project:before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 20, 20);
  opacity: 0;
  color: rgb(220, 220, 220);
  font-weight: bolder;
  transition: opacity 350ms ease, top 350ms ease;
  z-index: 1;
}
.project:hover:before {
  opacity: 0.7;
  top: 0;
}
.projects_description {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  text-align: left;
  margin: 0;
  padding: 12px;
  width: 100%;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  transition: opacity 350ms ease, top 350ms ease;
  font-size: 2rem;
}
.project:hover .projects_description {
  opacity: 1;
  top: 50%;
}
.project:hover .projects_image {
  transform: scale(0.9);
  filter: blur(2px);
}
.projects_title,
.projects_subtitle,
.projects_links {
  text-align: left;
  margin: 12px auto;
}

/* Footer */

.footer {
  background-color: rgb(10, 10, 10);
  margin: 0 auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: -8px -8px 8px rgb(10, 10, 10);
  width: 100%;
  cursor: default;
}
.footer_box,
.footer_logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}
.footer_logo_wrapper {
  width: 150px;
  height: 150px;
  margin: 24px auto;
  padding: 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 350ms ease;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}
.footer_logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 12px;
  margin: 0 auto;
  transition: all 350ms ease;
}
.footer_logo_wrapper:hover .footer_logo {
  transform: scale(0.9);
  filter: brightness(75%) blur(1px);
  opacity: 0.7;
}
.footer_logo_text {
  text-align: center;
  margin: 0 auto;
  display: inline;
  opacity: 0;
  transition: opacity 350ms ease, transform 350ms ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(0) scale(0.75);
  white-space: nowrap;
  z-index: 1;
}
.footer_logo_text:before {
  opacity: 0;
}
.footer_logo_wrapper:hover .footer_logo_text {
  transform: scale(1);
  opacity: 1;
  transform: translate(-50%, -50%) translateX(100%);
}
.footer_pages,
.footer_list,
.footer_links {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  height: auto;
}
.footer_list {
  max-width: 700px;
  margin: 24px auto;
}
.footer_links {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  transition: all 250ms ease;
}
.footer_links:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer_links:active {
  transform: translateY(1px);
}
.cr {
  margin: 12px auto;
  padding: 12px;
  text-align: center;
  font-size: 0.5rem;
  filter: brightness(85%);
  filter: blur(0.25px);
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
  .header--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .undraw_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 24px auto;
    padding: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .projects_wrapper {
    width: 100%;
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .header,
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .header--wrapper {
    width: 100%;
    margin: 12px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .logo {
    padding: 24px 0;
    font-size: 1.75rem;
  }
  .nav {
    padding: 12px 0;
  }
  .nav_list_link,
  .nav_list_link a,
  .nav_list_link_contact,
  .nav_list_link_contact a,
  .nav_list_link_contact button {
    padding: 8px 16px;
    font-size: 0.975rem;
  }
  .nav_textanchor::after {
    height: 1.25px;
  }
  p {
    font-size: 0.975rem;
  }
  .undraw_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 24px auto;
    padding: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .languages_container {
    display: flex;
    justify-content: center;
    margin: 72px 24px 4px 24px;
  }
  .languages_image_wrapper {
    flex-flow: column wrap;
    margin: 0 auto;
  }
  .html,
  .css {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
  .html_wrapper,
  .css_wrapper {
    top: 25px;
    width: 150px;
    height: 150px;
    margin: 12px auto;
  }
  .language_name {
    top: 75px;
  }
  .html_wrapper:hover .language_name,
  .css_wrapper:hover .language_name {
    font-size: 0.75rem;
  }
  .projects_container {
    margin-bottom: 24px;
  }
  .projects_wrapper {
    width: 100%;
    max-width: 700px;
    margin: 12px auto;
    padding: 3px;
  }
  .projects_description {
    text-align: left;
    margin: 0;
    padding: 3px;
    width: 100%;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    font-size: 1.25rem;
  }
  .projects_links {
    font-size: 36px;
  }
  .footer_logo {
    width: 125px;
    height: 125px;
    padding: 8px;
  }
  .footer_logo_text {
    left: 100px;
    text-wrap: wrap;
  }
  .cr {
    font-size: 0.35rem;
  }
}
@media (max-width: 480px) {
  .header--wrapper {
    width: 100%;
    margin: 12px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .logo {
    font-size: 1.45rem;
  }
  .nav_list_link,
  .nav_list_link a,
  .nav_list_link_contact,
  .nav_list_link_contact a,
  .nav_list_link_contact button {
    padding: 6px 12px;
    font-size: 0.85rem;
  }
  p {
    font-size: 0.85rem;
    .nav_textanchor::after {
      height: 1px;
    }
  }
  .undraw_wrapper {
    max-width: 75%;
    height: auto;
    margin: 0 auto;
  }
  .languages_container {
    display: flex;
    justify-content: center;
    margin: 0px 24px 12px 24px;
  }
  .languages_image_wrapper {
    flex-flow: column wrap;
    margin: 0 auto;
  }
  .html,
  .css {
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: 35%;
  }
  .html_wrapper,
  .css_wrapper {
    top: 50px;
    width: 125px;
    height: 125px;
    margin: 6px auto;
  }
  .language_name {
    top: 75px;
  }
  .html_wrapper:hover .language_name,
  .css_wrapper:hover .language_name {
    font-size: 0.5rem;
  }
  .projects_container {
    margin-bottom: 24px;
  }
  .projects_wrapper {
    width: 75%;
    margin: 12px auto;
    padding: 6px;
  }
  .projects_description {
    text-align: left;
    margin: 0;
    padding: 3px;
    width: 100%;
    max-width: 95%;
    height: auto;
    max-height: 95%;
    font-size: 1.15rem;
  }
  .projects_links {
    font-size: 24px;
  }
  .footer_logo {
    width: 100px;
    height: 100px;
    padding: 7px;
  }
  .footer_logo_text {
    left: 100px;
    text-wrap: wrap;
  }
  .cr {
    font-size: 0.25rem;
  }
}

/* Keyframes for Animations*/

@keyframes circle {
  0%,
  100% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateY(5px);
  }
}
@keyframes jump {
  0%,
  100% {
    transform: translateY(-2px);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(-5px);
  }
}
